{% extends '_layouts/base.njk' %}
{% set discography = queen.discography %}

 <title>{% block page_title %}Discography{% endblock %}</title>
 {% block page_description %}A list of Queen's discography{% endblock %}

{% block content %}
  <article class="containter">
    <h1> Discography </h1>
    {% for discography in queen.discography%}
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="img/{{discography.image}}" class="card-img" alt="{{discography.title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">{{discography.title}}</h5>
              <h4 class="card-text">{{discography.year}}</h4>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </article>
{% endblock %}


  
  
