{% extends '_layouts/base.njk' %}
{% set discography = queen.discography %}

 <title>{% block page_title %}Discography{% endblock %}</title>
 {% block page_description %}A list of Queen's discography{% endblock %}

{% block content %}
<article class="container">
 <div class="row">
      <div class="col-lg-4 col-sm-2">
      {% block info%}
        <h1> Discography </h1>
        {% for discography in queen.discography %}
        <h3 class="discography-headline"><a>{{ discography.title }}</a></h3>
          <p class="discography-year">{{ discography.year }}</p>
        <hr>
    {% endfor %}
      {% endblock %}

    </div>
     <div class="col-lg-8 col-sm-4">
      {% block story %}
        {% for discography in queen.discography %}
          <img src="img/{{discography.image}}" alt="{{discography.title}}" class="img-fluid">
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</article>
{% endblock%}
  
  
