{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block page_description %}The search description for this page goes here.{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="col" id="index-page">
      <img src="img/queen-band-wallpaper-thin.jpg" alt="queen" class="img-fluid"> 
        <h1>Queen</h1>
        <p>Learn about one of Britain's most iconic bands, Queen!</p>
        <p>Here you can channel your inner rock fan and learn about individual members and their billboard hits!</p>
        <ul> 
          {% for members in queen.members %}
            <p class="members-image"><img src="img/{{ members.image }}"></p>
            <h4 class="members-name"><a href="{{members.url}}">{{ members.name }}</a></h4>
          <hr>
          {% endfor %}
      </ul>
      </div>
    </div>
  </div>
{% endblock %}
