/* nav */

.navbar-custom {
  margin-bottom: 0x;
  background-color: navy;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.navbar-brand {
  color: white;
}
.nav-link {
  color: white;
}

